[submodule "slides"]
	path = slides
	url = git@github.com:cdurden/slides.git
[submodule "md"]
	path = md
	url = git@github.com:cdurden/md.git
[submodule "tasks"]
	path = tasks
	url = git@github.com:cdurden/tasks.git
