<ng-container ng-repeat="section in slides" ng-init="i=$index">
    <ng-container ng-if="section.length == 1">
        {{section.length}}
        single-part section
        {{i}}
        <section ng-if="src[i][0].split('.').pop()=='md'" id="{{section[0]}}" data-markdown data-separator="^---$">
            <script ng-include="src[i][0]" type="text/template"></script>
        </section>
        <section ng-if="src[i][0].split('.').pop()!='md'" id="{{section[0]}}" ng-include="src[i][0]">
        </section>
    </ng-container>
    <ng-container ng-if="section.length > 1">
        multipart section
        {{section.length}}
        {{section[0]}}
        <ng-container ng-repeat="slide in section" ng-init="j=$index">
            <section ng-if="src[i][j].split('.').pop()=='md'" id="{{slide}}" data-markdown data-separator="^---$"><script ng-include="src[i][j]" type="text/template"></script></section>
            <section ng-if="src[i][j].split('.').pop()!='md'" id="{{slide}}" ng-include="src[i][j]"></section>
        </ng-container>
    </ng-container>
</ng-container>
