/*
#chat-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}   
#messages-container {
  pointer-events: none;
} 
#chat-container input {
    width: 90%;
}
*/
#chat-container ul {
    list-style-type: none
}


{box-sizing: border-box;}
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.chat-container {
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 55px;
}

#chat-toggle-button {
    float: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
/*
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
*/
}
.cancel {
  position: relative;
  /*
  bottom: 0px;
  right: 0px;
  */
/*
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
*/
}
.form-container .btn {
/*
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
*/
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
    /*
  max-width: 300px;
  padding: 10px;
  background-color: white;
  */
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  /*
  margin: 5px 0 22px 0;
  border: none;
  */
  background: #f1f1f1;
  resize: none;
  min-height: 25px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */

/* Add a red background color to the cancel button */
.form-container .cancel {
/*
  background-color: red;
*/
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
