div.snow-qm-task {
    display: inline-block;
    vertical-align: top;
    width: 95%;
}
.snow-qm-task textarea {
    display: block;
    width: 100%;
}
div.mark_container {
    display: inline-block;
    margin-left: 5px;
}

.reveal section table tbody tr td input .sm {
    width: 2em;
}
.reveal section table tbody tr td input {
    width: 2em;
}
