
/*
.learning-goal {
    position: absolute;
    top: 20px;
}
*/
.container {
    width: fit-content;
}
.item {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
}

.reveal section .center ul {
    margin: 0px;
    text-align: center;
}
.reveal section div.inline-image {
    display: inline-block;
    vertical-align: middle;
}
.reveal section div.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}
.reveal section div.inline-image img {
    border: 0px;
}
.reveal section img.noborder {
    border: 0px;
    box-shadow: none;
}
div.snow-qm-task {
    display: inline-block;
    vertical-align: top;
    width: 95%;
}
.reveal section div.snow-qm-task table {
    background-color: eee;
    border: solid;
}
.reveal section div.snow-qm-task table tbody tr:first td {
    text-align: center;
}
.reveal section div.snow-qm-task table tbody tr th {
    text-align: right;
    border-right: solid;
}
.reveal section div.snow-qm-task table tbody tr td,
.reveal section div.snow-qm-task table tbody tr th
   {
    padding: 10px;
    vertical-align: middle;
}
.snow-qm-task textarea {
    display: block;
    width: 100%;
}
.snow-qm-task input[type=submit] {
/*    position: fixed;*/
    right: 110px;
    margin: 10px;
}
.snow-qm-task ul {
    list-style-type: none;
    display: block;
    text-align: center;
    margin: 0;
}
div.mark_container {
    display: inline-block;
    margin: 5px;
    position: absolute;
    right: 0;
}
div.input_container {
    position: relative;
}

.reveal section table tbody td {
    vertical-align: top;
}
.reveal section table tbody tr td input .sm {
    width: 2em;
}
.reveal section table tbody tr td input {
    width: 2em;
}

.reveal section .sm-font {
    font-size: 18pt;
}
.reveal section .md-font {
    font-size: 24pt;
}
.reveal section .lg-font {
    font-size: 36pt;
}
