
.reveal section div.inline-image {
    display: inline-block;
    vertical-align: middle;
}
.reveal section div.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}
.reveal section div.inline-image img {
    border: 0px;
}
.reveal section img.noborder {
    border: 0px;
    box-shadow: none;
}
div.snow-qm-task {
    display: inline-block;
    vertical-align: top;
    width: 95%;
}
.snow-qm-task textarea {
    display: block;
    width: 100%;
}
.snow-qm-task input[type=submit] {
    position: fixed;
    right: 110px;
    margin: 10px;
}
div.mark_container {
    display: inline-block;
    margin-left: 5px;
}

.reveal section table tbody td {
    vertical-align: top;
}
.reveal section table tbody tr td input .sm {
    width: 2em;
}
.reveal section table tbody tr td input {
    width: 2em;
}

.reveal section .sm-font {
    font-size: 18pt;
}
.reveal section .md-font {
    font-size: 24pt;
}
.reveal section .lg-font {
    font-size: 36pt;
}
